body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

nav {
width: 100%;
background-color: black;
padding: 10px 0;
display: flex;
justify-content: flex-end; /* Align to the right */
position: fixed;
top: 0;
z-index: 1000;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav a:hover {
  color: hotpink;
}

#gameContainer {
position: relative;
width: 90%;
}

#tvImage {
max-width: 95%; /* Adjusted to 95% of screen width */
cursor: pointer;
display: block;
margin: 0 auto; /* Center the image */
}

video {
  display: none; /* Hide the video player initially */
  width: 95%;
  max-height: calc(100vh - 60px); /* Ensure video fits within viewport minus the nav bar */
  object-fit: contain; /* Contain within the container */
  margin-top: 40px; /* Start below the navigation bar */
}

#choices {
  position: absolute;
  bottom: 10%; 
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  z-index: 2;
}

#choices button {
  color: rgb(53, 138, 213);
  font-weight: bold;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  transition: color 0.3s;
  font-size: 2vw; /* Base font size relative to the viewport width */
}

#choices button:hover {
    color: hotpink;
}

/* Styles for larger screens */
@media (min-width: 768px) {
    #choices button {
        font-size: 20px; /* Set a standard font size for larger screens */
    }
}

/* Styles for smaller screens */
@media (max-width: 767px) {
    #choices button {
        font-size: 2.5vw; /* Increase the font size for smaller screens */
    }
}

.about-page {
  background-color: black;
  color: white;
  text-align: center;
}

.about-page .content {
  margin-top: 80px; /* to avoid overlap with the navigation bar */
}

body.about-page {
  background-color: black;
  color: white; /* Ensure text is visible on black background */
}

body.play-page {
  background-color: black; /* Ensure the play page has a black background */
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  color: pink;
}
